body{
    background-color: beige;
}
.flex-container{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}
.caja{
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 5px;
}
.c1{
    background-color: cornflowerblue;
    order: 3;
    flex-grow: 2;
    flex-basis: 50%;
}
.c2{
    background-color: coral;
    order: 2;
    flex-grow: 5;
}
.c3{
    background-color: yellowgreen;
    order: 1;
    flex-grow: 3;
}